<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="com.examples.view">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="com.examples.view"
            class="com.examples.view.views.SampleView"
            id="com.examples.view.views.SampleView">
      </view>
      <view
            category="com.examples.view"
            class="com.examples.view.CalculatorView"
            id="com.examples.view.calcview"
            name="Calculator View"
            restorable="true">
      </view>
   </extension>

</plugin>
