<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="SWTBot Example Target Platform" sequenceNumber="1481547162">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.6.1.v20160907-1200"/>
      <repository location="http://download.eclipse.org/releases/neon/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.ide.feature.group" version="2.5.0.201609021837"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.5.0.201609021837"/>
      <repository location="http://download.eclipse.org/technology/swtbot/releases/latest"/>
    </location>
  </locations>
</target>
